html{
	height: 100%;
}
body{
	background: blue;
	width: 100%;
	height: 100vh;
	background: rgb(255,255,255);
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
..pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.navbar{
	margin: 0;
	width:100%;
	height: 64px;
	padding:8px;
	background: rgb(255,255,255);
	border-bottom:0.1px dotted grey;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 12;
}
.threeLine{
	margin-left: 7px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:4px;
	width: 40px;
	height: 40px;
	background: rgb(240,240,240);
	cursor: pointer;
	border-radius: 25px;
	visibility: hidden;
}
.threeLine:hover{
	visibility: visible;

}
.line{
	visibility: visible;
	width: 20px;
	height: 2px;
	border-radius: 3px;
	background: rgb(108,111,116);
}
.container1{
	display: flex;
	align-items: center;
	gap:15px;
	padding-right: 30px;
	height: 48px;
	background: #fff;
	width: 20%;

}
.containerText{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.navLetter{
	font-family: "Roboto";
	font-size: 22px;
	padding: 0;
	margin: 0;

}
.navText{
	margin-left: 3px;
	font-size:24px;
	color: rgb(99,106,114);
	font-family: "pt-sans-regular";
}
.content{
	display: flex;
	width: 100%;
	height:auto;
	margin: 0;
	padding: 0;
	right: 0;

}
.navbarLeft{
	height:100%;
	width: 5%;
	background: rgba(0,0,0,);
	border-right:0.3px dotted grey;;
	position: fixed;
	z-index: 1;
	top:64px;
	display: flex;
	flex-direction: column;
	gap:30px;
	align-items: center;
	padding-top: 60px;
	color:rgb(68,71,70);

}
.navLeftCheckBox{
	display: none;
}
.navLeftSymbol{

	font-size: 20px;
	cursor: pointer;
}
.navLeftSymbolContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size:15px;
	gap:10px;
	padding:2px;
}

.placeHolder{
	width: 5%;
	heigh:300px;
}


.rightSide{
	right: 0;
	width: 15%;
	height: 100%;
	background: salmon;
	display: flex;
	align-items: center;
}
.question{
	width: 40px;
	height: 40px;
	background: rgb(240,240,240);
	display: flex;
	justify-content: center;
	align-items: center;	
	border-radius: 20px;
	visibility: hidden;
	cursor: pointer;
}
.navRight{
	width: 250px;
	height: 100%;
	background: rgb(255,255,255);
	display: flex;
	justify-content: flex-end;
	gap:40px;
	align-items: center;
	color:rgb(95,99,104);
}
.excMark{
	font-size: 22px;
	cursor: pointer;

}
#excMarkCloud{
	font-size: 22px;
	cursor: pointer;
}
#googleNav2{
	font-size:28px;
	color:rgb(26,115,232);

}
.questionMark{
	display: flex;
	gap:20px;
	align-items: center;
}
.navRightRight{

	display: flex;
	gap:10px;
	align-items: center;
}
.Row{
	display: flex;
	flex-direction: column;
	gap:1px;
}

.burgerMenu{
	position: fixed;

	width: 20%;
	height:100%;
	background: rgba(255,255,255,0.9);
	top:0;
	left: 0;
	z-index: 999;
	display: flex;
	padding: 0;
	margin: 0;
}
.navLeftSymbolContainer{
	cursor: pointer;
}
.navBarLeftBurger{
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	align-items: flex-start;
	gap:30px;
	width: 100%;
	padding:10px;
	height: 100%;
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 300px;
}
.navLeftSymbolContainerBurger{
	display: flex;
	flex-direction: column;
	align-items: space-between;
	gap:4px;
	width: 100%;

}
.burgerContainer{
	display: flex;
	gap:5px;
}
.burgerBigContainer{
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.navLeftSymbolContainerBurger:hover{
	border-radius: 10px;
}
.navLeftSymbolContainerBurger p{
	cursor: pointer;
	font-family: Roboto;
	font-size: 18px;
}
.navLeftSymbolContainerBurger p , .navLeftSymbolContainerBurger i{
	
	color: rgb(68,71,74);
	cursor: pointer;

}
.navLeftSymbolContainerBurger i{
	font-size: 23px;
}
.dropDownMenu{
	width: 100%;
	height: auto;
	display: none;
}
.dropDownMenu ul{
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 16px;
	decoration: none;
	border-radius: 10px;
	gap: 10px;
}
.dropDownMenu li{
	display: flex;
	justify-content: flex-start;
	font-family: Roboto;
	align-items: center;
	padding-left: 10px;
	margin-top:5px;
	margin-left: 15px;
	width: 94%;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	color:rgb(75,79,96);
}
.dropDownMenu li:hover{
	background: rgb(232,240,254);
}
.page{
	height:100%;
	width:95%;
	right: 0;
	background: rgb(255,255,255);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap:10px;
	
}
.pageOverlay{
	position: fixed;
	z-index:15;
	height:100%;
	width:80%;
	right: 0;
	background: rgba(0,0,0,0.7);
	margin: 0;

}

.pageText{
	margin-top: 120px;
	font-size: 60px;
	color: #3c4043;
	font-family:"Roboto",sans-serif;
	text-align: center;
}
.bodyBoxes{
	width: 95%;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	gap:40px;
	margin-bottom: 0;
	margin-top: 60px;
}
.boxRow1{

	width: 100%;
	height: 400px;
	background: rgb(255,255,255);
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	gap:30px;
	padding: 25px;
	padding-top: 0;


}
.box1{
	background: #ffffff;
	border-radius: 7px;
	border: 0.3px dotted rgb(223,224,228);
	position: relative;
	margin-bottom: 0;
}
.boxPhoto{
	border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
	width: 100%;
	height: 50%;
	margin-bottom: 20px;
}
.boxesP{
	padding-left: 20px;
	padding-right: 20px;
	font-family: "pt-sans-regular",sans-serif;
	font-size: 20.5px;
}
.boxesPsmall{
	font-family: "pt-sans-regular",sans-serif;
	font-size: 16px;
	color:#5F6368;
	margin-top:9px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 35px;

}
.boxesLinks{
	font-family: "pt-sans-regular",sans-serif;
	font-size: 21px;
	margin-left: 20px;
	text-decoration: none;
	color: rgb(67,140,236);
	text-align: center;
	display: inline;
	border-radius: 10px;
}
.boxesLinks:hover{
	background: rgba(67,140,236,0.2);
	display: inline;
}
.linkContainer{
	position: absolute;
	width: 100%;
	height: 30px;
	bottom:20;
	display: flex;
	align-items: center;
	cursor:default ;
}

.pageSecondPart{
	width: 95%;
	background: rgb(255,255,255);
	display: grid;
	padding: 25px;
}
.bigBoxRow1{
	width: 100%;
	height: 1010px;
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr 1fr;
	gap:30px;
	padding-top: 0;
	justify-content: space-between;
	
}
.bigBox1{
	padding-bottom:10px;
	background: rgb(248,249,250);
	border-radius: 7px;
	border:0.3px solid transparent;
	
}
.bigBox1:hover{
	border:0.3px solid grey;

}
.bigBoxPhoto{
	width: 100%;
	height:auto;
	border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.bigBoxP{
	font-family: "pt-sans-regular",sans-serif;
	font-size: 20.5px;
	margin:25px;
	color: rgb(70,71,73);
}
.bigBoxLinks{
	margin-left: 25px;
}
.bottom{
	width: 100%;
	height: auto; 
	background: rgb(248,249,250);
	display: flex;
	align-items: center;
	flex-direction: column;
}
.bottomMid{
	width: 85%;
	height: 100%;
	padding: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.bottomRow1{
	display: flex;
	gap:10px;
	align-items: center;
	padding-bottom: 30px;
	
}
.bottomRow1 p{
	color:purple;
	font-family: Roboto;
	font-size: 18px;

}

.fa-brands{
	cursor: pointer;
	font-size:25px;
}
.bottomBrands{
	padding-left: 70px;
	display: flex;
	gap:20px;
}
.bottomRow2{
	padding-top:30px;
	width: 100%;
	height: 60%;
	display: grid;
	grid-template-columns: 1fr 1.2fr 2.3fr;
	gap:30px;
	margin-bottom: 30px;
}
.bottomBox1{
	padding:30px;
	padding-left: 0;
	
}
.bottomStrongP{
	font-family: Roboto;
	font-size: 22px;
	color: rgb(32,33,36);
	margin-bottom:25px;
}
.bottomWeakP{
	cursor: pointer;
	font-family: Roboto;
	font-size: 16px;
	color: rgb(103,105,123);
	margin-bottom: 25px;
}
#bottomLastText{
	cursor: auto;
	display: inline;
	margin: 0;
}
#bottomLastText2{
	display: inline;
	margin: 0;
	color: rgb(54,122,234);
	text-decoration: underline;
	text-decoration-color: rgb(54,122,234);
}
.lineBottom{
	width: 100%;
	height: 1;
	background: rgba(2,2,2,0.2);
}
.textEnding{
	display: flex;
	gap:50px;
	color:rgb(96,102,113);
}
.bottomPointer{
	cursor: pointer;
}
.languagePart{
	display: flex;
	gap: 10px;
	color:rgb(96,102,113);
}
.end{
	margin-top: 50px;
	height: 70px;
	display: flex;
	justify-content: space-between;
}
.fa-arrow-up-right-from-square{
	font-size: 15px;
	display: inline;
}
